@import "../../base/fn"

.weui-btn
    position relative
    display block
    margin-left auto
    margin-right auto
    padding-left 14px
    padding-right 14px
    box-sizing border-box
    font-size $weuiBaseFontSize
    text-align center
    text-decoration none
    color $weuiBtnFontColor
    line-height unit($weuiBtnHeight / $weuiBtnFontSize,'')
    border-radius $weuiBtnBorderRadius
    setTapColor()
    overflow hidden
