.ui.navbar {
  background-color: #fff;
}
.ui.navbar .content {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.ui.navbar .header {
  transition: all 0.4s;
}
.ui.navbar .header img {
  width: 98px;
}
.ui.navbar .menu-icon {
  display: none;
}
.ui.navbar .menu {
  margin-left: 103px;
  transition: all 0.4s;
}
.ui.navbar .menu .item {
  display: inline-block;
  font-size: 18px;
  font-family: PingFangSC-Light;
  font-weight: 300;
  color: #000;
  line-height: 25px;
  padding-top: 26px;
  padding-bottom: 35px;
}
.ui.navbar .menu .item:not(:first-child) {
  margin-left: 64px;
}
.ui.navbar .search-icon {
  flex: 1;
  text-align: right;
}
.ui.navbar .search-form {
  position: absolute;
  transform: translateY(-120px);
  opacity: 0;
  transition: all 0.5s;
}
.ui.navbar .searching .search-form {
  opacity: 1;
  transform: translateY(0);
}
.ui.navbar .searching .header,
.ui.navbar .searching .menu,
.ui.navbar .searching .menu-icon {
  transform: translateY(80px);
  opacity: 0;
}
@media only screen and (max-width: 767px) {
  .ui.navbar .content {
    justify-content: space-between;
    padding-top: 9px;
  }
  .ui.navbar .content .menu {
    display: none;
  }
  .ui.navbar .header img {
    width: 56px;
  }
  .ui.navbar .menu-icon {
    display: block;
  }
  .ui.navbar .search-icon {
    flex: 0;
  }
}
.ui.hero {
  background-color: #f0f0f0;
}
.ui.hero .item {
  overflow: hidden;
  position: relative;
}
.ui.hero .item .content {
  display: flex;
  align-items: center;
  height: 696px;
}
.ui.hero .item .content .ui.container {
  position: relative;
  z-index: 2;
}
.ui.hero .item .header {
  font-size: 48px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: #000;
  line-height: 67px;
}
.ui.hero .item .sub.header {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  line-height: 25px;
  letter-spacing: 3px;
}
.ui.hero .item .description {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  line-height: 25px;
}
.ui.hero .item img {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 767px) {
  .ui.hero .item {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .ui.hero .item .content {
    height: auto;
    color: #000;
    align-items: center;
    justify-content: center;
    order: 2;
  }
  .ui.hero .item img {
    position: inherit;
    height: auto;
    order: 1;
  }
  .ui.hero .header {
    font-size: 36px;
    letter-spacing: 4px;
  }
}
.prev.button,
.next.button {
  position: absolute;
  padding: 0;
  z-index: 3;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-align: center;
}
.prev.button.bottom,
.next.button.bottom {
  top: auto;
  bottom: 0;
  margin-bottom: 24px;
}
.prev.button {
  left: 24px;
}
.next.button {
  right: 24px;
}
