*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 12px;
}
.container{
    width: 960px;
    margin: 0 auto;
}
.item{
    border: 1px solid #edeeef;
    color: #b3b2c2;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    max-width: 80px;
}
.active{
    color: #6cbd45;
}