<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <div class="container">
    <form method="POST" class="from create">
      <div>
        <label for="name">用户名</label>
        <input type="text" id="name" name="name" placeholder="请输入用户名">
      </div>
      <div>
        <label for="password">密码</label>
        <input type="password" id="password" name="password" placeholder="请输入密码">
      </div>
      <div>
        <label for="repeatpass">重复密码</label>
        <input type="password" id="repeatpass" name="repeatpass" placeholder="请重新输入密码">
      </div>
      <div>
        <label>上传头像</label>
        <input type="file" name="avatar" id="avatar">
      </div>
      <div class="submit">
        注册
      </div>
    </form>
  </div>
</body>
</html>