.App 
  text-align center

.bottom-nav-bar
  position fixed
  bottom 0
  width 100%
  background #fff
  border-top .5px solid #d8d8d8
  display flex
  justify-content space-around
  padding-top 4px
  z-index 2

.nav-icons
  width 25px
  height 25px
  display block

.nav-text
  font-size 12px
  color #aaaaaa

.active
  color red
