.navbar 
  height 50.5px
  color #fff
  background #e54847
  border-bottom 1px solid #e54847
  display -webkit-box
  position relative
  .nav-wrap-left
    height 50.5px
    line-height 50.5px
    .back
      height 50px
      width 22.5px
      line-height 50px
      padding 0 15px
      .icon-back
        display inline-block
        width 22.5px
        height 22.5px
        vertical-align middle
        position relative
        &:before
          content ""
          display block
          position absolute
          top 0
          width 16px
          height 16px
          border-bottom 2px solid #fff
          border-left 2px solid #fff
          -webkit-transform rotate(45deg)
          transform rotate(45deg)
  .nav-header
    display block
    font-size 18px
    font-weight 400
    -webkit-box-flex 1
    color #fff
    text-align center
    line-height 50px
    margin 0 52.5px 0 0
    text-overflow ellipsis
    white-space nowrap
    overflow hidden
    

